<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🕗 Time</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <h1 id="clock"></h1> <!-- Uses JS Below -->
    <h1>Current Time: {{ time }}</h1> <!-- Uses Python in views.py -->

    <script>
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        console.log(today);
        var displayClock = document.getElementById("clock");
        displayClock.innerHTML = "Current Time: " + time;
    </script>
</body>
</html>